/* Styling for the entire body */
body {  
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Center the body horizontally */
    max-width: 1400px; /* Set a maximum width */
    box-sizing: border-box;
    background-color: #FCF79D; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #485309; 
    text-align: justify; 
}

/* Styling for the header */
.Title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Styling for the Footer */
.Footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

/* Styling for the header image */
.Title img {
    width: 100%; 
    max-width: 1000px; 
    height: auto;
}

/* Styling for headings */
h1, h2 {
    color: #6F9A0D; 
    text-align: center; 
    margin-top: 0; 
}

h2 {
    font-size: 20px; 
    margin-bottom: 0; 
}

/* Styling for paragraphs */
p {
    margin: 10px 0; 
    padding: 0 20px; 
}

/* Styling for lists */
ul, ol {
    margin: 10px 0; 
    padding: 0; 
}

/* Styling for list items */
li {
    margin-bottom: 40px; 
}

/* Styling for hyperlinks */    
a {
    color: #007bff; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Styling for the Ingredients section */
.Ingredients {
    max-width: 1200px; 
    background-color: rgba(246, 206, 96, 0.5); 
    padding: 20px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    transition: 1s; 
    margin: 0 auto; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Styling for each ingredient */
.ingredient {
    width: calc(33.33% - 40px); 
    margin-bottom: 40px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Styling for images inside the Ingredients section */
.Ingredients img {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 5px solid #6F9A0D; 
    margin: 10px; 
}

/* CSS for the description box */
.description-box {
    max-width: 1200px; 
    background-color: rgba(203, 153, 34, 0.5); 
    padding: 20px; 
    transition: 1s; 
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* CSS to make text bold */
.description-box p {
    font-weight: bold; 
}

/* Styling for the Method section */
.Method {
    display: flex; 
    max-width: 1200px; 
    background-color: rgba(203, 153, 34, 0.5); 
    padding: 20px; 
    transition: 1s; 
    margin: 0 auto; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Styling for the image container */
.method-image {
    flex: 1; 
    margin-right: 20px; 
    height: 100%; 
}

/* Styling for the image */
.method-image img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
}

/* Styling for the method details */
.method-details {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 10px; 
}

/* Styling for ingredient list items */
.ingredient-list li {
    margin-bottom: 10px; 
}

/* Styling for ingredient list */
.ingredient-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

/* Styling for method steps */
.method-details ol {
    padding-left: 20px; 
}

/* Styling for method steps list items */
.method-details ol li {
    margin-bottom: 10px; 
}
