
body{
    background-color: #3d4958;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

.top{
    background-color: #1F2122;
}

hr {
    border-color: #1F2122;
}

footer{
    padding-bottom: 20px;
    color: white;
}

nav {
    background-color: #1F2122;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

nav ul li a:hover, 
nav ul li a:active {
    background-color: #7C98BA;
    color: #1F2122;
}







#heading{
    background-color: #4c535c;
    text-align: center;
    box-shadow: 10px 10px 10px #2f3236;
    margin-bottom: 3px;
}

.browserDesign{
    background-color: #627A94;
    box-shadow: 10px 10px 10px #2f3236;
    margin-bottom: 30px;
}

/*text Designs*/
#headingText{
    padding-bottom: 20px;
    color: #0C0F0F;
    text-align: center;
}

#text1{
    margin: 20px;
    padding: 20px;
    color: #0C0F0F;
    background-color: #7C98BA;
    font-weight: bold;
    text-align: justify;
}

.section3Items{
    background-color: #7C98BA;
    padding: 1px 20px;
    text-align: justify;
}

.section4Items{
    background-color: #7C98BA;
    padding: 1px 20px;
    text-indent: 25px;
    text-align: justify;
}

/*img Designs*/
#img1{
    width: 180px;
    height: auto;
    border-radius: 300px;
    margin: 20px;
    border-style: dashed;
    border-color: black;
}

#img2{
    width: 300px;
    height: auto;
    border-radius: 300px;
    margin: 20px;
    border-style: dashed;
    border-color: black;
}

.imgOrientation{
    width: 500px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

/*Section Designs*/
#section2{
    display: flex;
    justify-content: space-around;
}

#section3{
    padding: 0 20px;
    color: #0C0F0F;
}

#section4{
    padding: 0 20px;
    color: #0C0F0F;
}